@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  font-family: "Jost", sans-serif;

  main {
    flex: 1 1 auto;
  }
}
