@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;800&display=swap");

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  font-family: "Jost", sans-serif;

  background: linear-gradient(
    173.34deg,
    #ffffff 0%,
    #ffffff 0%,
    rgba(243, 244, 245, 0.2) 11.74%,
    #f3f4f5 27.92%,
    rgba(243, 244, 245, 0) 44.79%,
    rgba(243, 244, 245, 0.68) 60.42%,
    #f3f4f5 79.17%,
    #ffffff 100%
  );

  main {
    flex: 1 1 auto;
  }
}

*:disabled {
  opacity: 0.5;
}

section {
  padding: 75px 0;
}

.section-title {
  font-weight: 800;
  font-size: 64px;
  line-height: 109%;
  color: #1b1b1d;
}

.paragraph {
  font-weight: 400;
  font-size: 24px;
  line-height: 145%;
  color: #64646a;
}

.btn {
  background-color: #1b1b1d;
  padding: 15px 30px;
  border-radius: 126px;
  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 500;
  font-size: 18px;
  line-height: 167%;
  text-transform: uppercase;
  color: #fff;

  transition: all 0.3s ease-in;

  @media (min-width: 768px) {
    &:hover {
      background-color: #64646a;
    }
  }

  &:active {
    scale: 0.9;
  }
}

input[type="email"],
input[type="text"] {
  background: #ffffff;
  box-shadow: 0px 12px 30px rgba(205, 209, 214, 0.48);
  border-radius: 65px;
  padding: 20px 30px;
  width: 100%;

  font-size: 22px;
  line-height: 136%;
  color: #1b1b1d;

  &::placeholder {
    color: #64646a;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
